<!-- <div class="row">
  <div class="col-sm-6">
    <h3>House</h3>
    <ul>
      {{#each house as |committee|}}
        <li>{{#link-to 'house-subcommittee' committee}}{{committee.name}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="col-sm-6">
    <h3>Senate</h3>
    <ul>
      {{#each senate as |committee|}}
        <li>{{committee.name}}</li>
      {{/each}}
    </ul>
  </div>
</div> -->
