<div class="container">


  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Homepage</a></li>
          <li><a href="/committee">Committees</a></li>
          <li><a href="/bills">Bills</a></li>
        </ul>
        <!-- <form class="navbar-form navbar-left">
          <div class="form-group">
            {{input value=zip id="zip" placeholder="Legislator by Zipcode" class="form-control"}}
          </div>
          <button {{action 'zipLookup'}}>Search</button>
        </form> -->
      </div>
    </div>
  </nav>
  <div class="jumbotron">
    <h2>Political Information</h2>
  </div>

  {{outlet}}
</div>
