<a href="/committee"><img src="https://rinf.com/alt-news/wp-content/uploads/2016/03/download.jpg" alt="" /></a>
<a href="/bills"><img src="http://i2.cdn.turner.com/cnnnext/dam/assets/130114152903-abc-schoolhouse-rock-just-a-bill-horizontal-large-gallery.jpg" alt="" /></a>
<a href="/legislator/S000033"><img src="http://www.zerohedge.com/sites/default/files/images/user5/imageroot/sanders%20teaser%202.jpg" alt="" /></a>
